<br /><br /><br />

  <div class = "game_board">


<% board = [0,1,0,1,0,1,0,1],[1,0,1,0,1,0,1,0] %>
  <% 4.times do %>
    <% board.each do |row| %>
      <% row.each do |col| %>
        <% if col.even?%>
          <div class = 'white_space'></div>
        <% else %>
          <div class = 'black_space'></div>
        <% end %>
      <% end %>
    <% end %>
  <%end%>


  </div>

  <br class="clear" />
