<br /><br /><br />

  <div class = "game_board">



    <!-- ROW 0 -->
    <div id="00" class = "white_space"></div><div id="01" class = "black_space"></div>
    <div id="02" class = "white_space"></div><div id="03" class = "black_space"></div>
    <div id="04" class = "white_space"></div><div id="05" class = "black_space"></div>
    <div id="06" class = "white_space"></div><div id="07" class = "black_space"></div>

    <!-- ROW 1 -->
    <div id="10" class = "black_space"></div><div id="11" class = "white_space"></div>
    <div id="12" class = "black_space"></div><div id="13" class = "white_space"></div>
    <div id="14" class = "black_space"></div><div id="15" class = "white_space"></div>
    <div id="16" class = "black_space"></div><div id="17" class = "white_space"></div>

    <!-- ROW 2 -->
    <div id="20" class = "white_space"></div><div id="21" class = "black_space"></div>
    <div id="22" class = "white_space"></div><div id="23" class = "black_space"></div>
    <div id="24" class = "white_space"></div><div id="25" class = "black_space"></div>
    <div id="26" class = "white_space"></div><div id="27" class = "black_space"></div>

    <!-- ROW 3 -->
    <div id="30" class = "black_space"></div><div id="31" class = "white_space"></div>
    <div id="32" class = "black_space"></div><div id="33" class = "white_space"></div>
    <div id="34" class = "black_space"></div><div id="35" class = "white_space"></div>
    <div id="36" class = "black_space"></div><div id="37" class = "white_space"></div>

    <!-- ROW 4 -->
    <div id="40" class = "white_space"></div><div id="41" class = "black_space"></div>
    <div id="43" class = "white_space"></div><div id="43" class = "black_space"></div>
    <div id="44" class = "white_space"></div><div id="45" class = "black_space"></div>
    <div id="46" class = "white_space"></div><div id="47" class = "black_space"></div>

    <!-- ROW 5 -->
    <div id="50" class = "black_space"></div><div id="51" class = "white_space"></div>
    <div id="52" class = "black_space"></div><div id="53" class = "white_space"></div>
    <div id="54" class = "black_space"></div><div id="55" class = "white_space"></div>
    <div id="56" class = "black_space"></div><div id="57" class = "white_space"></div>

    <!-- ROW 6 -->
    <div id="60" class = "white_space"></div><div id="61" class = "black_space"></div>
    <div id="62" class = "white_space"></div><div id="63" class = "black_space"></div>
    <div id="64" class = "white_space"></div><div id="65" class = "black_space"></div>
    <div id="66" class = "white_space"></div><div id="67" class = "black_space"></div>

    <!-- ROW 7 -->
    <div id="70" class = "black_space"></div><div id="71" class = "white_space"></div>
    <div id="72" class = "black_space"></div><div id="73" class = "white_space"></div>
    <div id="74" class = "black_space"></div><div id="75" class = "white_space"></div>
    <div id="76" class = "black_space"></div><div id="77" class = "white_space"></div>

  </div>

  <br class="clear" />
