<h1>Game Nickname: <%= @game.nickname %></h1>
<br /><br /><br />

<div class = "game-board group">
    <% 4.times do %>
      <% @board.each do |row| %>
        <% row.each do |col| %>
          <% if col.even?%>
            <div class = 'white-space'></div>
          <% else %>
            <div class = 'black-space'></div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>
