// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//-----Gameboard-------//

.game-board {
  height: 810px;
  width:810px;
  margin: 0 auto;
  border: 5px solid grey;

}

.white-space{
  height: 100px;
  width: 100px;
  background-color: white;
  float: left;
}

.black-space{
  height: 100px;
  width: 100px;
  background-color: black;
  float: left;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
