// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//-----Gameboard-------//

.game-board {
  height: 810px;
  width:810px;
  margin: 0 auto;
  border: 5px solid grey;

}

.white-space{
  height: 100px;
  width: 100px;
  background-color: white;
  float: left;
}

.black-space{
  height: 100px;
  width: 100px;
  background-color: black;
  float: left;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 700px){

  .game-board {
    height: 650px;
    width:650px;
    margin: 0 auto;
    border: 5px solid grey;

  }

  .white-space{
    height: 80px;
    width: 80px;
    background-color: white;
    float: left;
  }

  .black-space{
    height: 80px;
    width: 80px;
    background-color: black;
    float: left;
  }

}

@media screen and (max-width: 600px){

  .game-board {
    height: 570px;
    width:570px;
    margin: 0 auto;
    border: 5px solid grey;

  }

  .white-space{
    height: 70px;
    width: 70px;
    background-color: white;
    float: left;
  }

  .black-space{
    height: 70px;
    width: 70px;
    background-color: black;
    float: left;
  }

}


@media screen and (max-width: 320px){

  .game-board {
    height: 290px;
    width:290px;
    margin: 0 auto;
    border: 5px solid grey;

  }

  .white-space{
    height: 35px;
    width: 35px;
    background-color: white;
    float: left;
  }

  .black-space{
    height: 35px;
    width: 35px;
    background-color: black;
    float: left;
  }

}
